:root {
    --cinza: #ccc;
    --branco: #fff;
    --marinho: #00E7FF;
    --verde: #68B984;
    --amarelo: #FED049;
    --dark: #434242;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cinza);
}

.text-center {
    text-align: center;
}

h2,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

.fa-arrow-up-right-from-square {
    color: var(--marinho);
    cursor: pointer;
    transition: all .3s;
}

.fa-arrow-up-right-from-square:hover {
    transform: scale(1.3);
    color: #59C1BD;
}


/* MAIN */

#conteudo-principal {
    width: 1200px;
    background-color: var(--branco);
    margin: auto;
}

@media (max-width: 576px) {
    #conteudo-principal {
        width: 992px;
    }
}

#conteudo-principal .header lord-icon {
    width: 250px;
    height: 250px;
}

#conteudo-principal .content {
    display: flex;
    justify-content: center;
}

#conteudo-principal .pages {
    width: 100%;
    text-align: right;
}

#conteudo-principal .pages .content-page {
    padding: 10px;
}

#conteudo-principal .pages a {
    display: inline-block;
    color: #0D4C92;
    font-weight: bold;
    text-decoration: none;
}

#conteudo-principal .content .input-area,
#conteudo-principal .content .output-area {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
}

#conteudo-principal .content .input-area .input-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#conteudo-principal .content .input-area .input-box label,
#conteudo-principal .content .input-area .input-box input,
#conteudo-principal .content .input-area .input-box span,
#conteudo-principal .content .input-area .input-box select {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#conteudo-principal .content .input-area .input-box input,
#conteudo-principal .content .input-area .input-box select {
    padding: 10px 5px;
}

.alert-br {
    border: 1px solid red;
}

input.alert-br:focus {
    outline-color: red;
}

#conteudo-principal .content .input-area .input-box span {
    display: none;
}

#conteudo-principal .content .input-area .input-box span.alert {
    color: red;
    display: inline-block;
}

#conteudo-principal button {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    font-size: 1.3rem;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s;
}

#conteudo-principal button:hover {
    background-color: var(--amarelo);
}


/* MODAL */

#area-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .25);
    display: none;
    justify-content: center;
    align-items: center;
}

#area-modal.active {
    display: flex;
}

@keyframes aparece-modal {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

#area-modal .modal-elemento {
    width: 400px;
    background-color: var(--branco);
    padding: 20px;
    position: relative;
    display: none;
    animation: aparece-modal ease-out .4s;
}

#area-modal .modal-elemento.active {
    display: block;
}

#area-modal .modal-elemento .header {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

#area-modal .modal-elemento .header i {
    cursor: pointer;
    font-size: 1.8rem;
    transition: all .3s;
}

#area-modal .modal-elemento .header i:hover {
    color: red;
}

#area-modal .modal-elemento .content {
    padding-top: 10px;
}

#area-modal .modal-elemento h5 {
    font-size: .9rem;
}

#area-modal .modal-elemento h6 {
    font-size: .8rem;
}

#conteudo-principal .content .output-area span {
    font-size: 1.2rem;
    color: var(--dark);
}

@media (max-width: 992px) {
    #conteudo-principal {
        width: 992px;
    }
}

@media (max-width: 769px) {
    #conteudo-principal {
        width: 992px;
    }
    #conteudo-principal .content {
        flex-wrap: wrap;
    }
    #conteudo-principal .content .input-area,
    #conteudo-principal .content .output-area {
        width: 100% !important;
    }
}

.bold {
    font-weight: bold;
}